html {
	background: #000;
}

body {
	color: #aaa;
	background: #000;
}

#site-title {
	color: #439BBD;
}
#site-title a,
#site-title a:visited,
#site-title a:hover,
#site-title a:active {
	text-decoration: none;
}

#site-description {
	font-style: italic;
}

header h1,
header h1 a:visited,
header h1 a:hover,
header h1 a:active {
	color: #63BBDD;
}

header div.signin div.signin-wrapper {
	border-left: 1px solid #555;
	border-bottom: 1px solid #555;
	border-right: 1px solid #555;
	padding: 0.2em 0.6em 0.2em 0.6em;
	border-bottom-left-radius: 0.5em;
	border-bottom-right-radius: 0.5em;
	background: #444;
}

header div.signin a {
	text-decoration: none;
}

header div.signin span.social-icons {
	font-size: 1.75em;
	margin-bottom: 0.15em;
	margin-top: -0.2em;
}

header div.signin span.social-divider {
	margin-left: 0.1em;
	margin-right: 0.1em;
	font-size: 1.5em;
	color: #bbb;
}

header div.signin span.social-icons a,
header div.signin span.social-icons a:visited,
header div.signin span.social-icons a:hover,
header div.signin span.social-icons a:active {
	color: #bbb;
}

header span.logo img {
	padding-right: 0.5em;
}

a img {
	border: none;
}

#sub-menu-container {
	background-color: transparent;
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#53ABCD', endColorstr='#136B8D');
}
#main-menu-container {
	background-color: transparent;
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#bbbbbb', endColorstr='#888888');
}

#sub-menu-container li a,
#sub-menu-container li a:visited,
#sub-menu-container li a:hover,
#sub-menu-container li a:active {
	text-decoration: none;
	color: #ddd;
}
#main-menu-container li a,
#main-menu-container li a:visited,
#main-menu-container li a:hover,
#main-menu-container li a:active {
	text-decoration: none;
	color: #333;
}

#sub-menu-container li.menu-item {
	border: 2px solid #A3EBFD;
	margin-bottom: 5px;
	background-color: #136B8D;
	border-radius: 10px;
	font-size: 1.1em;
	text-align: center;
	text-shadow: 0 1px 1px rgba(0,0,0,0.5);
	box-shadow: 0 1px 2px rgba(0,0,0,0.2);
	background: -webkit-gradient(linear, left top, left bottom, from(#53ABCD), to(#136B8D));
	background: -moz-linear-gradient(top,  #53ABCD,  #136B8D);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#53ABCD', endColorstr='#136B8D');
}

#main-menu-container li.menu-item {
	border: 2px solid #fff;
	margin-bottom: 5px;
	background-color: #aaa;
	border-radius: 10px;
	font-size: 1.1em;
	text-align: center;
	text-shadow: 0 1px 1px rgba(255,255,255,0.5);
	box-shadow: 0 1px 2px rgba(255,255,255,0.2);
	background: -webkit-gradient(linear, left top, left bottom, from(#bbb), to(#888));
	background: -moz-linear-gradient(top,  #bbb,  #888);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#bbbbbb', endColorstr='#888888');
}

#content h1 {
	color: #63BBDD;
}

#content a,
#content a:visited,
#content a:hover,
#content a:active {
	text-decoration: none;
	color: inherit;
	color: #539BBD;
}

#content h2,
#content h2 a,
#content h2 a:visited,
#content h2 a:hover,
#content h2 a:active {
	color: #ccc;
}

div.image-cilist-thumbnail-wrap, 
div.image-categories-thumbnail-wrap {
	display: inline-block;
	margin: 6px;
	padding: 0px;
	border: 8px solid #fff;
	border-radius: 10px;
	line-height: 0.7em;
	background: #fff;
}

div.image-categories-thumbnail {
	padding: 0px;
	margin: 0px;
	border: 0px;
}

div.image-cilist-thumbnail img,
div.image-exhibitors-thumbnail img,
div.image-sponsors-thumbnail img,
div.image-members-thumbnail img,
div.image-categories-thumbnail img {
	border: 0px none;
	border-radius: 10px;
}

span.image-categories-name {
	display: inline-block;
	background-color: #fff;
	color: #333;
	margin: 0px;
	font-size: 1.1em;
	padding-top: 1.1em;
	padding-bottom: 0.7em;
	line-height: 1.2em;
	vertical-align: top;
}

#content span.image-categories-name a,
#content span.image-categories-name a:visited,
#content span.image-categories-name a:hover,
#content span.image-categories-name a:active {
	display: inline-block;
	color: inherit;
}

div.image-cilist-thumbnail,
div.image-members-thumbnail,
div.image-sponsors-thumbnail,
div.image-exhibitors-thumbnail,
div.image-gallery-thumbnail {
	border: 8px solid #ffffff;
	border-radius: 10px;
	display: inline-block;
	margin: 5px;
	padding: 0px;
	background: #fff;
}

div.additional-image-gallery div.image-gallery-thumbnail {
	border: 5px solid #ffffff;
	margin: 8px;
}

div.image-gallery-thumbnail img {
	border: 0px none;
	padding: 0px;
	margin: 0px;
	border-radius: 10px;
}

div.gallery-image {
	line-height: 0.7em;
}

div.gallery-image-wrap {
	border: 10px solid #fff;
	display: block;
}

div.gallery-image-details {
	line-height: 1.5em;
	margin-top: 1em;
	text-align: left;
	display: inline-block;
}

div.gallery-image-details span.image-title {
	font-size: 1.2em;
	color: #ddd;
}

div.gallery-image-details span.image-description,
div.gallery-image-details span.image-details {
	font-size: 1.0em;
	display: block;
	padding-left: 1em;
	padding-top: 0.4em;
}

div.gallery-image-details span.sub-title,
div.gallery-image-details span.image-awards-title {
	font-size: 1.2em;
	display: block;
	color: #ddd;
	margin-top: 1em;
}

div.gallery-image-details span.image-awards {
	font-size: 1.0em;
	display: block;
	padding-left: 1em;
}

#content table.clist td p,
#content table.cilist td p {
	margin-bottom: 0.6em;
}

#content p.clist-title,
#content p.cilist-title,
#content span.contact-title,
#content span.members-title,
#content span.sponsors-title,
#content span.exhibitors-title,
#content span.downloads-title,
#content span.links-title,
#content span.event-title {
	font-size: 1.2em;
	font-weight: normal;
	color: #ddd;
}

#content table.clist td p.clist-title,
#content table.cilist td p.cilist-title {
	margin-bottom: 0;
}

#content table.cilist td p.clist-subtitle,
#content table.clist td p.clist-subtitle {
	margin-bottom: 0;
	font-style: italic;
}

#content span.clist-title a,
#content span.clist-title a:visited,
#content span.clist-title a:hover,
#content span.clist-title a:active,
#content span.cilist-title a,
#content span.cilist-title a:visited,
#content span.cilist-title a:hover,
#content span.cilist-title a:active,
#content span.members-title a,
#content span.members-title a:visited,
#content span.members-title a:hover,
#content span.members-title a:active,
#content span.sponsors-title a,
#content span.sponsors-title a:visited,
#content span.sponsors-title a:hover,
#content span.sponsors-title a:active,
#content span.exhibitors-title a,
#content span.exhibitors-title a:visited,
#content span.exhibitors-title a:hover,
#content span.exhibitors-title a:active,
#content span.event-title a,
#content span.event-title a:visited,
#content span.event-title a:hover,
#content span.event-title a:active,
#content span.links-title a,
#content span.links-title a:visited,
#content span.links-title a:hover,
#content span.links-title a:active {
	color: inherit;
}

#content a.contact-email {
	color: #539BBD;
}

#content a.exhibitors-url {
	color: #ddd;
}

#content a.clist-url,
#content a.cilist-url,
#content a.members-url,
#content a.sponsors-url,
#content a.links-url,
#content a.downloads-url,
#content a.event-url {
	font-size: 1.0em;
	color: #539BBD;
}

#content table.clist > tbody > tr > th,
#content table.clist > tbody > tr > td,
#content table.cilist > tbody > tr > th,
#content table.cilist > tbody > tr > td,
#content table.members-list > tbody > tr > th,
#content table.members-list > tbody > tr > td,
#content table.sponsors-list > tbody > tr > th,
#content table.sponsors-list > tbody > tr > td,
#content table.exhibitors-list > tbody > tr > th,
#content table.exhibitors-list > tbody > tr > td,
#content table.downloads-list th,
#content table.downloads-list td,
#content table.links-list th,
#content table.links-list td,
#content table.event-list th,
#content table.event-list td {
	border-color: #999;
}

#content span.clist-category,
#content span.cilist-category,
#content span.members-category,
#content span.sponsors-category,
#content span.exhibitors-category,
#content span.downloads-category,
#content span.links-category {
	font-size: 1.1em;
}
#content div.gallery-image-wrap a.gallery-image-prev div,
#content div.gallery-image-wrap a.gallery-image-next div {
	text-align: center;
}

#content form label {
	font-size: 1.0em;
	font-weight: bold;
	margin-top: 1.0em;
}

#content form input.text {
	font-size: 1.0em;
	font-weight: normal;
	padding: 0.5em;
	border-radius: 0.5em;
	border: 1px solid #aaa;
	color: #555;
}

#content form input.checkbox {
	font-size: 1.0em;
	padding: 0.5em;
	border-radius: 0.5em;
	border: 1px solid #aaa;
	color: #fff;
}

#content form p.formerror,
#content form p.formhelp {
	font-size: 1.0em;
	font-weight: normal;
	color: #999;
	max-width: 38em;
}

#content form p.pageerror {
	font-size: 1.2em;
	color: #c00;
	max-width: 25em;
}

#content form p.formerror {
	color: #c00;
}

#content form p.formerror a {
	color: #a00;
}

#content form div.bigsubmit {
	text-align: center;
}

#content form div.submit {
	text-align: right;
}

#content form input.submit {
	font-size: 1.0em;
	border-radius: 8px;
	text-shadow: 0 1px 1px rgba(0,0,0,0.5);
	padding: 0.45em 1.5em 0.45em 1.5em;
	color: #d9eef7;	
	border: 2px solid #0076a3;	
	background: #0095cd;	
	background: -webkit-gradient(linear, left top, left bottom, from(#00adee), to(#0078a5));	
	background: -moz-linear-gradient(top,  #00adee,  #0078a5);	
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#00adee', endColorstr='#0078a5');
}

#content form input.bigsubmit {
	font-size: 1.3em;
	border: 2px solid #da7c0c;
	border-radius: 10px;
	color: #fef4e9;
	text-shadow: 0 1px 1px rgba(0,0,0,0.5);
	padding: 0.7em 2.0em 0.7em 2.0em;
	background: #f78d1d;
	background: -webkit-gradient(linear, left top, left bottom, from(#faa51a), to(#f47a20));
	background: -moz-linear-gradient(top,  #faa51a,  #f47a20);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#faa51a', endColorstr='#f47a20');
}

aside div.image-wrap {
	margin-bottom: 1em;
}

aside div.image {
	max-width: 100%;
	border: 8px solid #fff;
	height: auto;
	padding: 0px;
	height: auto;
	line-height: 0em;
}

aside div.image img {
	line-height: 1px;
	width: 100%;
	padding: 0px;
	margin: 0px;
}

aside div.image-wrap div.image-caption {
	text-align: center;
	font-style: italic;
	padding: 9px;
	color: #ddd;
	line-height: 1.5em;
}

#content div.googlemap,
aside div.googlemap {
	border: 8px solid #fff;
	padding: 5px;
	margin-bottom: 1em;
}

div.word-cloud span.size-0 { font-size: 1em; }
div.word-cloud span.size-1 { font-size: 1.2em; }
div.word-cloud span.size-2 { font-size: 1.4em; }
div.word-cloud span.size-3 { font-size: 1.6em; }
div.word-cloud span.size-4 { font-size: 1.8em; }
div.word-cloud span.size-5 { font-size: 2.0em; }
div.word-cloud span.size-6 { font-size: 2.2em; }
div.word-cloud span.size-7 { font-size: 2.4em; }
div.word-cloud span.size-8 { font-size: 2.6em; }
div.word-cloud span.size-9 { font-size: 2.8em; }

#content div.word-cloud span.size-9 a,
#content div.word-cloud span.size-9 a:visited,
#content div.word-cloud span.size-9 a:hover, 
#content div.word-cloud span.size-9 a:active { 
	text-decoration: bold; color: #6AC2E4; 
}

#content div.word-cloud span.size-8 a,
#content div.word-cloud span.size-8 a:visited,
#content div.word-cloud span.size-8 a:hover, 
#content div.word-cloud span.size-8 a:active { 
	text-decoration: bold; color: #63BBDD; 
}

#content div.word-cloud span.size-7 a,
#content div.word-cloud span.size-7 a:visited,
#content div.word-cloud span.size-7 a:hover, 
#content div.word-cloud span.size-7 a:active { 
	text-decoration: bold; color: #5AB2D4; 
}

#content div.word-cloud span.size-6 a,
#content div.word-cloud span.size-6 a:visited,
#content div.word-cloud span.size-6 a:hover, 
#content div.word-cloud span.size-6 a:active { 
	text-decoration: bold; color: #53ABCD; 
}

#content div.word-cloud span.size-5 a,
#content div.word-cloud span.size-5 a:visited,
#content div.word-cloud span.size-5 a:hover, 
#content div.word-cloud span.size-5 a:active { 
	text-decoration: bold; color: #4AA2C4; 
}

#content div.word-cloud span.size-4 a,
#content div.word-cloud span.size-4 a:visited,
#content div.word-cloud span.size-4 a:hover, 
#content div.word-cloud span.size-4 a:active { 
	text-decoration: bold; color: #439BBD; 
}

#content div.word-cloud span.size-3 a,
#content div.word-cloud span.size-3 a:visited,
#content div.word-cloud span.size-3 a:hover, 
#content div.word-cloud span.size-3 a:active { 
	text-decoration: bold; color: #3A92B4; 
}

#content div.word-cloud span.size-2 a,
#content div.word-cloud span.size-2 a:visited,
#content div.word-cloud span.size-2 a:hover, 
#content div.word-cloud span.size-2 a:active { 
	text-decoration: bold; color: #338BAD; 
}

#content div.word-cloud span.size-1 a,
#content div.word-cloud span.size-1 a:visited,
#content div.word-cloud span.size-1 a:hover, 
#content div.word-cloud span.size-1 a:active { 
	text-decoration: bold; color: #2A84A6; 
}

#content div.word-cloud span.size-0 a,
#content div.word-cloud span.size-0 a:visited,
#content div.word-cloud span.size-0 a:hover, 
#content div.word-cloud span.size-0 a:active { 
	text-decoration: bold; color: #237B9D; 
}

div.googlemap p {
	margin-bottom: 0.5em;
}

div.googlemap p:last-child {
	margin-bottom: 0;
}

hr.section-divider {
	border: 0px solid #555;
	border-top: 1px solid #555;
}

hr.header-section-divider {
	border: 1px solid #000;
	color: #000;
}

footer {
	color: #777;
}

footer a,
footer a:visited,
footer a:hover,
footer a:active {
	text-decoration: none;
}

footer div.social-icons {
	font-size: 3.0em;
	padding-bottom: 0.25em;
}

footer div.social-icons a,
footer div.social-icons a:visited,
footer div.social-icons a:hover,
footer div.social-icons a:active {
	color: #ccc;
}


/* Styles for larger screens */
@media screen and (min-width: 33em) {

#sub-menu-container {
	background-color: #136B8D;
	border: 2px solid #A3EBFD;
	border-radius: 10px;
	background: -webkit-gradient(linear, left top, left bottom, from(#53ABCD), to(#136B8D));
	background: -moz-linear-gradient(top,  #53ABCD,  #136B8D);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#53ABCD', endColorstr='#136B8D');
}
#main-menu-container {
	background-color: #aaa;
	border: 2px solid #fff;
	border-radius: 10px;
	background: -webkit-gradient(linear, left top, left bottom, from(#bbb), to(#888));
	background: -moz-linear-gradient(top,  #bbb,  #888);
 	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#bbbbbb', endColorstr='#888888'); 
}

#sub-menu-container ul.menu li.menu-item {
	border: 0px solid #000;
	background-color: transparent;
	border-radius: 10px;
	font-size: 1.1em;
	text-align: center;
	text-shadow: 0 1px 1px rgba(0,0,0,0.5);
	box-shadow: none;
	background: transparent;
	filter: none;
	padding-left: 0.7em;
	padding-right: 0.7em;
}
#main-menu-container ul.menu li.menu-item {
	border: 0px none #fff;
	border-radius: 10px;
	background-color: transparent;
	font-size: 1.1em;
	text-align: center;
	text-shadow: 0 1px 1px rgba(255,255,255,0.5);
	box-shadow: none;
	background: transparent;
	filter: none;
	padding-left: 0.7em;
	padding-right: 0.7em;
}

}
