html {
	background: #eeffee;
}

body {
	color: #777;
	color: #20884D;
	background: #eeffee;
}

#site-title {
	color: #004920;
}

#site-title a,
#site-title a:visited,
#site-title a:hover,
#site-title a:active {
	text-decoration: none;
}

#site-description {
	font-style: italic;
}

header h1,
header h1 a:visited,
header h1 a:hover,
header h1 a:active {
	color: #004920;
}

header div.signin div.signin-wrapper {
	border-left: 1px solid #004920;
	border-bottom: 1px solid #004920;
	border-right: 1px solid #004920;
	padding: 0.2em 0.6em 0.2em 0.6em;
	border-bottom-left-radius: 0.5em;
	border-bottom-right-radius: 0.5em;
	background: #fff;
}

header div.signin div.signin-wrapper a,
header div.signin div.signin-wrapper a:visited,
header div.signin div.signin-wrapper a:hover,
header div.signin div.signin-wrapper a:active {
	color: #004920;
}

header div.signin a {
	text-decoration: none;
}

header span.logo img {
	padding-right: 0.5em;
}

header div.signin span.social-icons {
	font-size: 1.75em;
	margin-bottom: 0.15em;
	margin-top: -0.2em;
}

header div.signin span.social-divider {
	margin-left: 0.1em;
	margin-right: 0.1em;
	font-size: 1.5em;
	color: #bbb;
}

header div.signin span.social-icons a,
header div.signin span.social-icons a:visited,
header div.signin span.social-icons a:hover,
header div.signin span.social-icons a:active {
	color: #bbb;
}

a img {
	border: none;
}

#sub-menu-container {
	background-color: transparent;
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#53ABCD', endColorstr='#136B8D');
}
#main-menu-container {
	background-color: transparent;
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#888888', endColorstr='#555555');
}

#sub-menu-container li a,
#sub-menu-container li a:visited,
#sub-menu-container li a:hover,
#sub-menu-container li a:active {
	text-decoration: none;
	color: #eeffee;
}
#main-menu-container li a,
#main-menu-container li a:visited,
#main-menu-container li a:hover,
#main-menu-container li a:active {
	text-decoration: none;
	color: #eeffee;
}

#sub-menu-container li.menu-item {
	border: 2px solid #004920;
	margin-bottom: 5px;
	background-color: #136B8D;
	border-radius: 10px;
	font-size: 1.1em;
	text-align: center;
	text-shadow: 0 1px 1px rgba(0,0,0,0.5);
	box-shadow: 0 1px 2px rgba(0,0,0,0.2);
	background: -webkit-gradient(linear, left top, left bottom, from(#faa51a), to(#d45a00));
	background: -moz-linear-gradient(top,  #faa51a,  #d45a00);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#faa51a', endColorstr='#d45a00');
}

#main-menu-container li.menu-item {
	border: 2px solid #004920;
	margin-bottom: 5px;
	background-color: #555;
	border-radius: 10px;
	font-size: 1.1em;
	text-align: center;
	text-shadow: 0 1px 1px rgba(0,0,0,0.5);
	box-shadow: 0 1px 2px rgba(0,0,0,0.2);
	background: -webkit-gradient(linear, left top, left bottom, from(#2EB769), to(#006F30));
	background: -moz-linear-gradient(top,  #888,  #555);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#888888', endColorstr='#555555');
}

div.image-categories-thumbnail-wrap {
	display: inline-block;
	margin: 10px;
	padding: 0px;
	border: 0px solid #fff;
	line-height: 0.7em;
}

div.image-categories-thumbnail {
	margin: 0px;
	padding: 8px;
	border: 1px solid #004920;
	background: #fff;
}

div.image-categories-thumbnail img {
	border: 0px none;
	padding: 0px;
	margin: 0px;
}

span.image-categories-name {
	display: inline-block;
	background-color: #eeffee;
	color: #004920;
	margin: 0px;
	font-size: 1.1em;
	padding-top: 0.8em;
	padding-bottom: 0.7em;
	padding-right: 8px;
	padding-left: 8px;
	line-height: 1.2em;
	vertical-align: top;
	font-style: italic;
}

#content span.image-categories-name a,
#content span.image-categories-name a:visited,
#content span.image-categories-name a:hover,
#content span.image-categories-name a:active {
	display: inline-block;
	color: inherit;
}

div.image-sponsors-thumbnail {
	border: 0px solid #aaa;
	display: inline-block;
	margin: 4px;
	padding: 7px;
}

div.image-cilist-thumbnail,
div.image-members-thumbnail,
div.image-exhibitors-thumbnail,
div.image-gallery-thumbnail {
	border: 1px solid #004920;
	display: inline-block;
	margin: 4px;
	padding: 7px;
	background: #fff;
}

div.additional-image-gallery div.image-gallery-thumbnail {
	padding: 5px;
	margin: 6px;
}

div.image-cilist-thumbnail img,
div.image-members-thumbnail img,
div.image-sponsors-thumbnail img,
div.image-exhibitors-thumbnail img,
div.image-gallery-thumbnail img {
	border: 0px;
	padding: 0px;
	margin: 0px;
}

div.gallery-image {
	line-height: 0.7em;
}

div.gallery-image-wrap {
	border: 2px solid #aaa;
	display: inline-block;
	margin: 4px;
	padding: 9px;
	background: #fff;
}

div.gallery-image-details {
	line-height: 1.5em;
	margin-top: 1em;
	text-align: left;
	width: auto;
	display: inline-block;
}

div.gallery-image-details span.image-title {
	font-size: 1.2em;
	color: #004920;
}

div.gallery-image-details span.image-description,
div.gallery-image-details span.image-details {
	font-size: 1.0em;
	display: block;
	padding-left: 1em;
	padding-top: 0.4em;
}

div.gallery-image-details span.sub-title,
div.gallery-image-details span.image-awards-title {
	font-size: 1.2em;
	display: block;
	color: #004920;
	margin-top: 1em;
}

div.gallery-image-details span.image-awards {
	font-size: 1.0em;
	display: block;
	padding-left: 1em;
}

#content h1,
#content h1.entry-title,
#content b.entry-title,
#content h2 {
	font-style: italic;
	color: #004920;
}

#content p.entry-meta,
#content div.entry-meta {
	color: #006F30;
	letter-spacing: 0.05em;
}

#content h2 {
	font-style: italic;
	margin-top: 0.0em;
	margin-bottom: 0.5em;
	padding-bottom: 0px;
	color: #004920;
}
/* #content h2 {
	color: #333;
} */

#content a,
#content a:visited,
#content a:hover,
#content a:active {
	text-decoration: none;
	color: #004920;
}

#content table.clist td p,
#content table.cilist td p {
	margin-bottom: 0.6em;
	max-width: 100%;
}

#content p.clist-title,
#content p.cilist-title,
#content span.clist-title,
#content span.cilist-title,
#content span.contact-title,
#content span.members-title,
#content span.sponsors-title,
#content span.exhibitors-title,
#content span.links-title,
#content span.downloads-title,
#content span.event-title {
	font-size: 1.2em;
	font-weight: normal;
	color: #004920;
}

#content article.page-features span.cilist-title {
	color: #555;
}

#content table.clist td p.clist-title,
#content table.cilist td p.cilist-title {
	margin-bottom: 0;
}

#content table.cilist td p.clist-subtitle,
#content table.clist td p.clist-subtitle {
	margin-bottom: 0;
	font-style: italic;
}

#content a.exhibitors-url {
	color: #439bbd;
}

#content a.clist-url,
#content a.cilist-url,
#content a.members-url,
#content a.sponsors-url,
#content a.links-url,
#content a.downloads-url,
#content a.event-url {
	font-size: 1.0em;
}

#content p.clist-title a,
#content p.clist-title a:visited,
#content p.clist-title a:hover,
#content p.clist-title a:active,
#content span.cilist-title a,
#content span.cilist-title a:visited,
#content span.cilist-title a:hover,
#content span.cilist-title a:active,
#content span.members-title a,
#content span.members-title a:visited,
#content span.members-title a:hover,
#content span.members-title a:active,
#content span.sponsors-title a,
#content span.sponsors-title a:visited,
#content span.sponsors-title a:hover,
#content span.sponsors-title a:active,
#content span.exhibitors-title a,
#content span.exhibitors-title a:visited,
#content span.exhibitors-title a:hover,
#content span.exhibitors-title a:active,
#content span.event-title a,
#content span.event-title a:visited,
#content span.event-title a:hover,
#content span.event-title a:active,
#content span.links-title a,
#content span.links-title a:visited,
#content span.links-title a:hover,
#content span.links-title a:active {
	color: inherit;
}


#content table.clist > tbody > tr > th,
#content table.clist > tbody > tr > td,
#content table.cilist > tbody > tr > th,
#content table.cilist > tbody > tr > td,
#content table.members-list > tbody > tr > th,
#content table.members-list > tbody > tr > td,
#content table.sponsors-list > tbody > tr > th,
#content table.sponsors-list > tbody > tr > td,
#content table.exhibitors-list > tbody > tr > th,
#content table.exhibitors-list > tbody > tr > td,
#content table.downloads-list th,
#content table.downloads-list td,
#content table.links-list th,
#content table.links-list td,
#content table.event-list th,
#content table.event-list td {
	border-color: #006F30;
}

#content span.clist-category,
#content span.cilist-category,
#content span.members-category,
#content span.sponsors-category,
#content span.exhibitors-category,
#content span.downloads-category,
#content span.links-category {
	font-size: 1.1em;
	color: #004920;
}

#content span.exhibitors-subcategory {
	font-size: 1.0em;
	color: #999;
}

#content div.largebutton-list div.button-list-wrap, 
#content div.button-list div.button-list-wrap {
	padding-right: 0.3em;
	padding-bottom: 0.5em;
}

#content div.largebutton-list div.button-list-button a, 
#content div.button-list div.button-list-button a {
	font-size: 1.2em;
	border: 2px solid #da7c0c;
	border-radius: 10px;
	color: #fef4e9;
	text-shadow: 0 1px 1px rgba(0,0,0,0.5);
	padding: 0.3em 0 0.3em 0;
	background: #f78d1d;
	background: -webkit-gradient(linear, left top, left bottom, from(#faa51a), to(#f47a20));
	background: -moz-linear-gradient(top,  #faa51a,  #f47a20);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#faa51a', endColorstr='#f47a20');
}

#content div.largebutton-list div.button-list-button a {
	padding: 0.5em 0 0.5em 0;
}

#content dl dt {
	font-size: 1.0em;
	padding-left: 0.0em;
	font-weight: bold;
}

#content form label {
	font-size: 1.0em;
	font-weight: bold;
	margin-top: 1.0em;
}

#content form input.text {
	font-size: 1.0em;
	font-weight: normal;
	padding: 0.5em;
	border-radius: 0.5em;
	border: 1px solid #aaa;
	color: #555;
}

#content form input.checkbox {
	font-size: 1.0em;
	padding: 0.5em;
	border-radius: 0.5em;
	border: 1px solid #aaa;
}

#content form p.formerror,
#content form p.formhelp {
	font-size: 1.0em;
	font-weight: normal;
	color: #999;
/*	max-width: 38em;*/
}

#content form p.pageerror {
	font-size: 1.2em;
	color: #c00;
	max-width: 25em;
}

#content form p.formerror {
	color: #c00;
}

#content form p.formerror a {
	color: #900;
}

#content form div.bigsubmit,
#content form div.bigsubmit2 {
	text-align: center;
}

#content form div.submit {
	text-align: right;
}

#content a.color,
#content a.color:visited,
#content a.color:hover,
#content a.color:active {
	color: #439BBD;
}

#content form input.submit {
	font-size: 1.0em;
	border-radius: 8px;
	text-shadow: 0 1px 1px rgba(0,0,0,0.5);
	padding: 0.45em 1.5em 0.45em 1.5em;
	color: #d9eef7;	
	border: 2px solid #0076a3;	
	background: #0095cd;	
	background: -webkit-gradient(linear, left top, left bottom, from(#00adee), to(#0078a5));	
	background: -moz-linear-gradient(top,  #00adee,  #0078a5);	
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#00adee', endColorstr='#0078a5');
}

#content form input.bigsubmit {
	min-width: 13em;
	font-size: 1.3em;
	border: 2px solid #da7c0c;
	border-radius: 10px;
	color: #fef4e9;
	text-shadow: 0 1px 1px rgba(0,0,0,0.5);
	padding: 0.7em 2.0em 0.7em 2.0em;
	background: #f78d1d;
	background: -webkit-gradient(linear, left top, left bottom, from(#faa51a), to(#f47a20));
	background: -moz-linear-gradient(top,  #faa51a,  #f47a20);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#faa51a', endColorstr='#f47a20');
}

#content form input.bigsubmit2 {
	min-width: 13em;
	font-size: 1.3em;
	border: 2px solid #0076a3;
	border-radius: 10px;
	color: #fff;
	text-shadow: 0 1px 1px rgba(0,0,0,0.5);
	padding: 0.7em 2.0em 0.7em 2.0em;
	background: #0095cd;
	background: -webkit-gradient(linear, left top, left bottom, from(#00adee), to(#0078a5));
	background: -moz-linear-gradient(top,  #00adee,  #0078a5);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#00adee', endColorstr='#0078a5');
}

#content div.cart-pricelist {
	font-size: 1.1em;
}

#content div.cart-pricelist form {
	display: inline;
}

#content div.cart-pricelist form select {
	font-size: 0.9em;
	font-weight: normal;
	padding: 0.20em;
	margin-left: 1em;
	border-radius: 0.5em;
	border: 1px solid #aaa;
	text-align: center;
	color: #555;
}

#content div.cart-items {
	padding: 0px;
	margin: 0px;
	border: 2px solid #aaa;
	border-radius: 10px; 
}

#content div.cart table.cart-items {
/*	border-collapse: collapse;   */
	border-spacing: 0; 
	border-radius: 10px; 
	border: 0px solid #aaa;
	overflow: hidden;  
}

#content div.cart table.cart-items thead tr:last-child th {
	border-bottom: 2px solid #aaa;
}

#content div.cart table.cart-items tfoot tr:first-child td {
	border-top: 2px solid #006F30;
}

#content div.cart table.cart-items thead,
#content div.cart table.cart-items thead tr:first-child,
#content div.cart table.cart-items thead tr:first-child th:first-child {
	border-left-top-radius: 10px;
}

/*
#content div.cart table.cart-items tfoot tr:last-child td:first-child {
	border-left-bottom-radius: 10px;
}
*/

#content div.cart table.cart-items tr th,
#content div.cart table.cart-items tr td {
	padding: 0.3em;
}

/*
#content div.cart table.cart-items thead {
	border-left-top-radius: 0.75em;
	border-right-top-radius: 0.75em;
	border-bottom: 2px solid #aaa;
}

#content div.cart table.cart-items tfoot {
}

#content div.cart table.cart-items thead tr {
	border: 2px solid #aaa;
	border: 2px solid red;
	border-left-top-radius: 10px;
	border-right-top-radius: 10px;
}

#content div.cart table.cart-items tfoot tr {
	border: 2px solid #aaa;
	border: 2px solid red;
	border-left-bottom-radius: 10px;
	border-right-bottom-radius: 10px;
}

#content div.cart table.cart-items tr th {
	border-bottom: 2px solid #aaa;
}

#content div.cart table.cart-items thead tr:first-child th:first-child {
	border-left-top-radius: 10px; 
}

#content div.cart table.cart-items thead tr:first-child th:last-child {
	border-right-top-radius: 10px;
}

#content div.cart table.cart-items tfoot tr:last-child td:first-child {
	border-left-bottom-radius: 10px;
}

#content div.cart table.cart-items tfoot tr:last-child td:last-child {
	border-right-bottom-radius: 10px;
}

#content div.cart table.cart-items tr th,
#content div.cart table.cart-items tr td {
	padding: 0.25em;
	padding-left: 0.4em;
	padding-right: 0.4em;
	margin: 0px;
	border: 0px;
}
*/

#content div.cart table.cart-items tr.item-even td {
	background: #ffffff;
}

#content div.cart table.cart-items tr.item-odd td {
	background: #f4f4f4;
}

#content div.cart table.cart-items thead th {
	color: #222;
	font-weight: bold;
	background: #ddd;
}

#content div.cart table.cart-items {
	background: #ddd;
}

#content div.cart form input.quantity, 
#content div.cart-pricelist form input.quantity {
	font-size: 1.0em;
	font-weight: normal;
	padding: 0.20em;
	margin-left: 1em;
	border-radius: 0.5em;
	border: 1px solid #aaa;
	text-align: center;
	color: #555;
}

#content div.cart div.cart-buttons {
	padding-top: 1.5em;
	text-align: center;
}

#content div.cart form input.cart-submit, 
#content div.cart-buttons form input.cart-submit, 
#content div.cart-pricelist form input.cart-submit {
	cursor: pointer;
	font-size: 0.9em;
	border-radius: 8px;
	text-shadow: 0 1px 1px rgba(0,0,0,0.5);
	margin-left: 1em;
	padding: 0.25em 1.0em 0.25em 1.0em;
	color: #d9eef7;	
	border: 2px solid #0076a3;	
	background: #0095cd;	
	background: -webkit-gradient(linear, left top, left bottom, from(#00adee), to(#0078a5));	
	background: -moz-linear-gradient(top,  #00adee,  #0078a5);	
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#00adee', endColorstr='#0078a5');
}

aside div.image-wrap {
	margin-bottom: 1em;
}

aside div.image {
	max-width: 100%;
}

#content div.image {
	display: inline-block;
	border: 2px solid #ccc;
	height: auto;
	padding: 9px;
	line-height: 0em;
}

aside div.image img {
	line-height: 1px;
	width: 100%;
	padding: 0px;
	margin: 0px;
}

aside div.image-wrap div.image-caption {
	text-align: center;
	font-style: italic;
	font-size: 1.0em;
	padding: 9px;
	color: #444;
	line-height: 1.5em;
}

div.word-cloud-wrap {
	padding-top: 1.5em;
	padding-bottom: 1.5em;
}

div.word-cloud {
	max-width: 40em;
	text-align: center;
}

#content div.word-cloud span.size-0 a,
#content div.word-cloud span.size-0 a:visited,
#content div.word-cloud span.size-0 a:hover, 
#content div.word-cloud span.size-0 a:active { 
	text-decoration: bold; color: #6AC2E4; 
}

#content div.word-cloud span.size-1 a,
#content div.word-cloud span.size-1 a:visited,
#content div.word-cloud span.size-1 a:hover, 
#content div.word-cloud span.size-1 a:active { 
	text-decoration: bold; color: #63BBDD; 
}

#content div.word-cloud span.size-2 a,
#content div.word-cloud span.size-2 a:visited,
#content div.word-cloud span.size-2 a:hover, 
#content div.word-cloud span.size-2 a:active { 
	text-decoration: bold; color: #5AB2D4; 
}

#content div.word-cloud span.size-3 a,
#content div.word-cloud span.size-3 a:visited,
#content div.word-cloud span.size-3 a:hover, 
#content div.word-cloud span.size-3 a:active { 
	text-decoration: bold; color: #53ABCD; 
}

#content div.word-cloud span.size-4 a,
#content div.word-cloud span.size-4 a:visited,
#content div.word-cloud span.size-4 a:hover, 
#content div.word-cloud span.size-4 a:active { 
	text-decoration: bold; color: #4AA2C4; 
}

#content div.word-cloud span.size-5 a,
#content div.word-cloud span.size-5 a:visited,
#content div.word-cloud span.size-5 a:hover, 
#content div.word-cloud span.size-5 a:active { 
	text-decoration: bold; color: #439BBD; 
}

#content div.word-cloud span.size-6 a,
#content div.word-cloud span.size-6 a:visited,
#content div.word-cloud span.size-6 a:hover, 
#content div.word-cloud span.size-6 a:active { 
	text-decoration: bold; color: #3A92B4; 
}

#content div.word-cloud span.size-7 a,
#content div.word-cloud span.size-7 a:visited,
#content div.word-cloud span.size-7 a:hover, 
#content div.word-cloud span.size-7 a:active { 
	text-decoration: bold; color: #338BAD; 
}

#content div.word-cloud span.size-8 a,
#content div.word-cloud span.size-8 a:visited,
#content div.word-cloud span.size-8 a:hover, 
#content div.word-cloud span.size-8 a:active { 
	text-decoration: bold; color: #2A84A6; 
}

#content div.word-cloud span.size-9 a,
#content div.word-cloud span.size-9 a:visited,
#content div.word-cloud span.size-9 a:hover, 
#content div.word-cloud span.size-9 a:active { 
	text-decoration: bold; color: #237B9D; 
}

#content nav.content-nav {
	border-top: 1px dotted #bbb;
	border-bottom: 1px dotted #bbb;
}

#content nav.content-nav a {
	color: #237B9D;
	color: #5AC2E4; 
	color: #439BBD;
	font-size: 1.0em;
}

div.googlemap, 
aside div.googlemap {
	border: 2px solid #222;
	padding: 5px;
	margin-bottom: 1em;
}

div.googlemap p {
	margin-bottom: 0.5em;
}

div.googlemap p:last-child {
	margin-bottom: 0;
}

hr.section-divider {
	border: 0px solid #aaa;
	border-top: 1px solid #006F30;
}

hr.header-section-divider {
	border: 1px solid #eeffee;
	color: #fff;
}

/* Social sharing buttons */
div.share-buttons {
	margin-top: 1.5em;
}

div.share-buttons span.share-buttons {
	background-color: #EEE;
	padding: 1.05em 0.75em 0.45em 0.75em;
	border: 1px solid #aaa;
	border-radius: 10px;
	text-shadow: 0px 0px 5px #fff;
}

div.share-buttons span.socialsymbol {
	font-size: 2.25em;
	padding: 0.1em;
}

div.share-buttons span.socialtext {
	font-size: 1.0em;
}

div.share-buttons span.social-facebook { color: #3B5998; }
div.share-buttons span.social-twitter { color: #55ACEE; }
div.share-buttons span.social-pinterest { color: #CC2127; }
div.share-buttons span.social-googleplus { color: #DD4B39; }

footer {
	color: #888;
}

footer a,
footer a:visited,
footer a:hover,
footer a:active {
	text-decoration: none;
}

footer div.social-icons {
	font-size: 3.0em;
	padding-bottom: 0.25em;
}

footer div.social-icons a,
footer div.social-icons a:visited,
footer div.social-icons a:hover,
footer div.social-icons a:active {
	color: #bbb;
}

aside div.borderless {
	border: 0px solid;
}

.social-facebook {color: #3B5998; }
.social-twitter { color: #55ACEE; }

/* Styles for larger screens */
@media screen and (min-width: 33em) {

#sub-menu-container {
	background-color: #136B8D;
	border: 2px solid #004920;
	border-radius: 10px;
	background: -webkit-gradient(linear, left top, left bottom, from(#faa51a), to(#d45a00));
	background: -moz-linear-gradient(top,  #faa51a,  #d45a00);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#faa51a', endColorstr='#d45a00');
}
#main-menu-container {
	background-color: #444;
	border: 2px solid #004920;
	border-radius: 10px;
	background: -webkit-gradient(linear, left top, left bottom, from(#2EB769), to(#006F30));
	background: -moz-linear-gradient(top,  #2EB769,  #006F30);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#2EB769', endColorstr='#006F30');
}

#sub-menu-container ul.menu li.menu-item,
#main-menu-container ul.menu li.menu-item {
	border: 0px solid #000;
	background-color: transparent;
	border-radius: 10px;
	font-size: 1.1em;
	text-align: center;
	text-shadow: 0 1px 1px rgba(0,0,0,0.5);
	box-shadow: none;
	background: transparent;
	filter: none;
	padding-left: 0.7em;
	padding-right: 0.7em;
}

}
