/*
Goldilocks Approach to Responsive Web Design Boilerplate

Author: Design by Front - @designbyfront
Version: 0.1
URL: http://www.goldilocksapproach.com
----------------------------------------------------------------------------------------

CONTENTS - GLOBAL.CSS
-----------------------------------------
1. RESET
2. ROOT
3. CORE TYPOGRAPHY
4. LINKS
5. GLOBAL LAYOUT & GLOBAL CUSTOM TYPOGRAPHY
6. CUSTOM LAYOUT & TYPOGRAPHY (Baby bear)
7. BROWSER AND NON-SEMANTIC STYLING

CONTENTS - LAYOUT.CSS
-----------------------------------------
8. CUSTOM LAYOUT & TYPOGRAPHY (Daddy bear)
9. CUSTOM LAYOUT & TYPOGRAPHY (Mummy bear)

*/


/* 1. RESET
----------------------------------------------------------------------------------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size:100%;
  font: inherit;
  vertical-align: baseline;
  }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
  }
  
  
/* 2. ROOT
----------------------------------------------------------------------------------------*/
html { 
  overflow-y: scroll;
  background: #FFF;
  }

/* /ht Ethan Marcotte - http://front.ie/l8rJaA */
img, embed, object, video { max-width: 100%; }
.ie6 img.full, .ie6 object.full, .ie6 embed, .ie6 video { width: 100%; }


/* 3. CORE TYPOGRAPHY
----------------------------------------------------------------------------------------*/
body {
  font-family: Georgia, "Times New Roman", serif;
  font-size: 1em;
  line-height: 1.618em;
  color: #333;
  background: #FFF;
  }

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0.809em;
  line-height: 1em;
  }

p, ul, ol, dl, blockquote {
    font-size: 1em;
    line-height: 1.618em;
    margin-bottom: 1.618em; 
    max-width: 30em; /* Optimal width for long-form text */
  }
    
ul { list-style-type: disc; margin-left: 1.618em; }
ol { list-style-type: decimal; margin-left: 1.618em; }
nav ul, nav ol { list-style: none; margin: 0; padding: 0;}

b, strong { font-weight: bold; }
i, em { font-style: italic; }
small { font-size: 80%; }

.assistive-text { display: none; }

/* 4. LINKS
----------------------------------------------------------------------------------------*/
a, a:visited { outline: none; color: #439BBD; text-decoration: underline; }  
a:hover { outline: none; text-decoration:none; }  
a:active, a:focus { outline: none; }


/* 5. GLOBAL LAYOUT & GLOBAL CUSTOM TYPOGRAPHY
----------------------------------------------------------------------------------------*/
div.image-gallery-thumbnail {
	line-height: 0.5em;
}


/* 6. CUSTOM LAYOUT & TYPOGRAPHY (Baby bear)
----------------------------------------------------------------------------------------*/
#page-container {
    padding: 0.809em;
    max-width: 30em;
    margin: 0 auto;
    }

#page-container.signin {
	padding-top: 0em;
}

header div.signin {
	display: inline-block;
	float: right;
	margin-bottom: 1.0em;
	width: 8em;
	top: 0px;
	right: 20px;
	padding-right: 20px;
	text-align: right;
	width: 100%;
}


#site-title {
	font-size: 2.5em;
	margin-bottom: 0px;
}

header a { text-decoration: none; }

hgroup {
	margin-bottom: 1em;
}

hgroup.header-image {
	margin-bottom: 0em;
}

#main-menu-container {
	padding-left: 0px;
	padding-right: 0px;
}

#main-menu-container ul {
	display: inline;	
	list-style-type: none;
	padding: 0px;
	margin: 0px;
}
	
#main-menu-container ul.menu li.menu-item {
	display: block;
	padding: 0.5em;
}

#main-menu-container ul.menu li.compact-hidden {
	display: none;
}

#main-menu-container ul.menu li.menu-item a {
	display: block;
}

article {
	margin-bottom: 2em;
}

#content h1.entry-title {
	font-size: 1.5em;
}

#content h2 {
	font-size: 1.3em;
}

#content dl dd {
	margin-bottom: 1em;
}

#content table.links-list,
#content table.event-list {
	width: 100%;
}

#content table.links-list th,
#content table.event-list th {
	display: block;
	text-align: left;
}

#content table.links-list td,
#content table.event-list td {
	display: block;
	padding-left: 1em;
	margin-left: 0px;
	padding-bottom: 1em;
	border-top: 1px solid;
	padding-top: 0.25em;
}

#content div.events-more {
	text-align: right;
}

#content div.image-categories,
#content div.image-gallery {
	margin: 0 auto;
	text-align: center;
}

#content div.image-categories div.image-categories-thumbnail {
	width: 260px;
}

#content div.image-categories-thumbnail img {
	width: 260px;
	height: 260px;
}

#content div.image-gallery div.image-gallery-thumbnail {
	width: 115px;
	height: 115px;
}

#content div.image-gallery-thumbnail img {
	width: 115px;
	height: 115px;
}

#content div.gallery-image {
	text-align: center;
	max-width: 100%;
	padding: 0px;
	margin: 0 auto;
}

#content div.gallery-image div.gallery-image-container {
	display: block;
	margin: 0px;
	text-align: left;
	width: auto;
}

#content div.gallery-image-wrap {
	margin: 0px;
	display: inline-block;
}

#content div.gallery-image-wrap img {
	display: block;
}

#content div.gallery-image-wrap a.gallery-image-prev {
	position: absolute;
	float: left;
	margin: 0px;
	left: 0px;
	display: block;
	vertical-align: center;
	z-index: 2;
	cursor: pointer;
}
#content div.gallery-image-wrap a.gallery-image-next {
	position: absolute;
	float: right;
	margin: 0px;
	right: 0px;
	text-align: right;
	display: block;
	vertical-align: center;
	z-index: 2;
	cursor: pointer;
}
#content div.gallery-image-wrap a.gallery-image-prev,
#content div.gallery-image-wrap a.gallery-image-next {
	display: block;
	height: 100%;
	vertical-align: center;
	z-index: 3;
}

#content div.gallery-image-wrap a.gallery-image-prev div,
#content div.gallery-image-wrap a.gallery-image-next div {
	position: absolute;
	height: 40px;
	width: 20px;
	display: block;
	visibility: visible;
	vertical-align: middle;
	z-index: 0;
}

#content div.gallery-image-wrap a.gallery-image-prev div {
	background: #ccc url(img/prev.png);
}

#content div.gallery-image-wrap a.gallery-image-next {
	margin-left: -100px;
}
#content div.gallery-image-wrap a.gallery-image-next div {
	background: #ccc url(img/next.png);
	margin-left: 100px;
}

#content div.gallery-image-wrap img {
	margin: 0px;
	padding: 0px;
	z-index: 5;
}

#content div.button-list {
	width: 100%;
}

#content div.button-list div.button-list-wrap {
	width: 100%;
	text-align: center;
	display: inline-block;
}

#content div.button-list div.button-list-wrap a {
	width: 100%;
	display: inline-block;
}

#content form {
	width: 100%;
}

#content form label {
	width: 100%;
	display: block;
}

#content form input.text {
	width: 95%;
}

#content form input.submit {
	margin-top: 1em;
	cursor: pointer;
}

#content form p.formhelp {
	width: 100%;
}

aside { width: 100%; }

hr.footer-section-divider {
	margin-top: 5em;
	clear: both;
}

footer {
	font-size: 0.8em;
	text-align: center;
}


/* 7. BROWSER AND NON-SEMANTIC STYLING
----------------------------------------------------------------------------------------*/
.cf:before, .cf:after { content: ""; display: block; }
.cf:after { clear: both; }
.ie6 .cf { zoom: 1 }

