/* 8. CUSTOM LAYOUT & TYPOGRAPHY (Daddy bear)
----------------------------------------------------------------------------------------*/
#page-container {
    padding: 1.618em;
    margin: 0 auto;
    max-width: 60em;
}

#page-container.signin {
    padding-top: 0em;
}

header div.signin {
}

/* header span.social-icons {
    display: inline-block;
    vertical-align: baseline;
    text-align: right;
    float: right;
} */

header span.title {
    display: inline;
}

#site-description {
    margin-top: 0.5em;
}

#sub-menu-container ul.menu li.menu-item,
#main-menu-container ul.menu li.menu-item {
    display: inline-block;
    padding: 0.4em;
    margin: 0px;
    border: 0px;
}

#sub-menu-container ul.menu li.menu-item a,
#main-menu-container ul.menu li.menu-item a {
    width: auto;
    height: auto;
    padding: 0px;
    display: inline;
}

#sub-menu-container ul.menu li.compact-hidden, 
#main-menu-container ul.menu li.compact-hidden {
    display: inline-block;
}

#sub-menu-container {
    display: inline-block;
    margin-right: auto;
}
#content div.image-categories div.image-categories-thumbnail-wrap {
    margin: 5px;
    max-width: 260px;
}
#content div.image-categories div.image-categories-thumbnail-small {
    max-width: 140px;
}
#content div.image-categories div.image-categories-thumbnail-medium {
    max-width: 200px;
}

/* #content div.image-gallery {
    padding: 0px;
} 

#content div.image-categories div.image-categories-thumbnail-wrap {
    width: 270px;
}

#content div.image-categories div.image-categories-thumbnail {
    width: 270px;
}
#content span.image-categories-name {
    width: 260px;
}

#content div.image-categories-thumbnail img {
    width: 260px;
    height: 260px;
}

#content div.image-categories-thumbnail-small span.image-categories-name {
    width: 100px;
}

#content div.image-categories-thumbnail-small div.image-categories-thumbnail img {
    width: 100px;
    height: 100px;
}

#content div.image-categories-thumbnail-medium span.image-categories-name {
    width: 190px;
}

#content div.image-categories-thumbnail-medium div.image-categories-thumbnail img {
    width: 190px;
    height: 190px;
} */

div.sponsor-gallery div.sponsor-gallery-thumbnail {
/*    max-width: 130px;
    max-height: 130px; */
    margin: 7px;
}

#content div.image-gallery div.image-gallery-thumbnail {
/*    width: 130px;
    height: 130px; */
    margin: 7px;
}

/*#content div.image-gallery-thumbnail img {
    width: 130px;
    height: 130px;
} */

/* #content ul {
    width: 28em;
} */

#content dl {
    width: 30em;
}

#content div.wide h2, 
#content div.wide h3, 
#content div.wide h4, 
#content h2.wide, 
#content h3.wide, 
#content h4.wide, 
#content cite.wide, 
#content blockquote.wide, 
#content form.wide, 
#content form.wide div.bigsubmit, 
#content div.wide,
#content p.wide,
#content ul.wide,
#content dl.wide {
/*     width: 100%; */
    max-width: 100%;
    clear: both;
}

#content div.order-options.wide {
    max-width: 45em;
    margin: 0 auto;
}

#content dl.wide {
    width: auto;
    max-width: 100%;
}
#content article.page form.medium {
    margin: 0 auto;
    max-width: 45em;
}
#content article.page form.medium div.input,
#content article.page form.medium div.submit {
    max-width: 45em;
}
#content article.page form.medium div.submit input.submit {
    width: 20em;
    max-width: 20em;
}
#content article.page form.wide {
    width: 100%;
    max-width: 100%;
}

#content dl dt {
    margin-left: 0;
    display: block;
    vertical-align: top;
}

#content dl dd {
    display: inline-block;
    margin-left: 1.8em;
}

/* Image List */
#content div.image-list-entry {
    margin-bottom: 25px;
}
#content div.image-list-image {
    text-align: right;
}
#content div.image-list-wrap {
    text-align: right;
}



#content table.blist {
    border-collapse: collapse;
    table-layout: auto;
}

#content table.clist,
#content table.cilist,
#content table.members-list,
#content table.sponsors-list,
#content table.exhibitors-list,
#content table.downloads-list,
#content table.event-list {
    border-collapse: collapse;
    table-layout: auto;
}

#content table.blist > tbody > tr > th,
#content table.clist > tbody > tr > th {
    display: table-cell;
    padding-bottom: 1em;
    min-width: 15em;
}

/* #content table.sponsors-list > tbody > tr > th, */
#content table.cilist > tbody > tr > th,
#content table.members-list > tbody > tr > th,
#content table.exhibitors-list > tbody > tr > th,
#content table.downloads-list th,
#content table.event-list th {
    display: table-cell;
    padding-bottom: 1em;
}

#content table.cilist > tbody > tr,
#content table.members-list > tbody > tr,
#content table.sponsors-list > tbody > tr,
#content table.exhibitors-list > tbody > tr {
    padding-bottom: 1em;
}

/* #content table.sponsors-list > tbody > tr > td, */
#content table.cilist > tbody > tr > td,
#content table.members-list > tbody > tr > td,
#content table.exhibitors-list > tbody > tr > td {
    display: table-cell;
    padding-left: 0em;
    padding-bottom: 1em;
}

#content table.cilist-categories td.cilist-image,
#content table.members-list table.members-category-list td.members-image,
#content table.exhibitors-list table.exhibitors-category-list td.exhibitors-image {
    padding-left: 0.5em;
    padding-right: 0.5em;
    min-width: 9.5em;
}

#content table.blist td {
    display: table-cell;
    min-width: 30em;
}

#content table.clist td,
#content table.downloads-list td,
#content table.event-list td {
    display: table-cell;
    padding-left: 1.5em;
    padding-bottom: 1em;
}

/* #content table.sponsors-list > tbody > tr > th, */
#content table.blist > tbody > tr > th,
#content table.blist > tbody > tr > td,
#content table.clist > tbody > tr > th,
#content table.clist > tbody > tr > td,
#content table.cilist > tbody > tr > th,
#content table.cilist > tbody > tr > td,
#content table.members-list > tbody > tr > th,
#content table.members-list > tbody > tr > td,
#content table.sponsors-list > tbody > tr > td,
#content table.exhibitors-list > tbody > tr > th,
#content table.exhibitors-list > tbody > tr > td,
#content table.downloads-list th,
#content table.downloads-list td,
#content table.event-list th,
#content table.event-list td {
    border-top: 1px solid;
}

#content table.cilist-categories > tbody > tr > td.cilist-details {
    width: 100%;
}

#content span.blist-category,
#content span.clist-category,
#content span.cilist-category,
#content span.members-category,
#content span.sponsors-category,
#content span.exhibitors-category,
#content span.downloads-category,
#content span.links-category,
#content span.event-date {
    display: inline-block;
    white-space: pre;
    max-width: 100%;
    padding-right: 0px;
    width: 49%;
}

#content table.cilist th {
    padding-top: 0.25em;
}

#content span.cilist-subcategory,
#content span.exhibitors-subcategory {
    display: block;
    text-align: left;
}

#content div.gallery-image {
    max-width: 100%;
    width: auto;
}

#content div.gallery-image div.gallery-image-wrap {
    display: inline-block;
    width: auto;
}

#content div.gallery-image div.gallery-image-details {
    min-width: 25em;
}

#content div.largebutton-list div.button-list-wrap {
    width: 49%;
    display: inline-block;
}

#content .clearaside {
    clear: both;
}

#content aside div.largebutton-list div.button-list-wrap {
    width: 100%;
    display: block;
}

#content div.button-list div.button-list-wrap {
    width: 32%;
    margin-right: 0.2em;
    margin-left: 0.2em;
    display: inline-block;
}

#content div.largebutton-list div.button-list-wrap a,
#content div.button-list div.button-list-wrap a {
    width: 100%;
    display: inline-block;
}

/* blist buttons */
#content table.blist div.button-list div.button-list-wrap {
    width: 100%;
    margin-left: 0em;
    margin-right: 0em;
}

#content table.blist div.button-list-wrap a {
    margin: 0.2em 0em 0.2em 0em;
    display: block;
    width: auto;
    text-align: left;
}

#content form,
#content article.page form {
    box-sizing: border-box;
    max-width: 30em;
}
#content div.cart form {
    max-width: 100%;
}

#content article.account form,
#content article.cart form {
    max-width: 100%;
}

#content article.cart form {
    width: 100%;
    max-width: 100%;
}

#content form textarea {    
    max-width: 100%;
}
#content form input.text,
#content article.page form input.text {
    max-width: 100%;
    box-sizing: border-box;
}
#content div.cart-pricetable {
    margin: 0 auto;
}
#content div.cart-pricetable-small {
    max-width: 45em;
    margin: 0 auto;
}
#content table.cart-pricetable tr th {
    display: table-cell;
}
#content table.cart-pricetable tr {
    display: table-row;
}
#content table.cart-pricetable tr td {
    display: table-cell;
}

#content form table.cart-details input.text {
    width: 100%;
    max-width: 100%;
}

#content form div.submit {
    max-width: 31.2em;
    max-width: 29.2em;
    max-width: 30em;
    box-sizing: border-box;
    padding-right: 0em;
}
#content form div.submit.wide {
    max-width: 100%;
}

#content form div.bigsubmit,
#content form div.bigsubmit2 {
    max-width: 30em;
}

div.block-current-exhibitions {
    clear: both;
}

div.block-primary-image,
aside {
    float: right;
    clear: right;
    width: 25em;
    max-width: 100%;
    height: auto;
    margin-left: 1.5em;
}

#content article.page {
    width: 100%; 
    margin: 0 auto;
}

#content.evensplit form input.text {
    max-width: 26em;
}

#content.evensplit form div.submit, 
#content.evensplit form div.bigsubmit, 
#content.evensplit form div.bigsubmit2  {
    max-width: 27em;
}

#content.evensplit aside {
    width: 30em;
}

header span.social-icons { display: inline-block; }
header div.signin .hide-babybear { display: inline-block; }
div.hide-babybear { display: block; }

#content table.cilist td.cilist-image {
    display: table-cell;
}
span.exhibitors-description {
    display: inline;
}

/* Set the full size for the word-cloud */
#content div.word-cloud span.size-0 { font-size: 1em; line-height: 1.5em;}
#content div.word-cloud span.size-1 { font-size: 1.2em; line-height: 1.5em;}
#content div.word-cloud span.size-2 { font-size: 1.4em; line-height: 1.5em;}
#content div.word-cloud span.size-3 { font-size: 1.6em; line-height: 1.5em;}
#content div.word-cloud span.size-4 { font-size: 1.8em; line-height: 1.5em;}
#content div.word-cloud span.size-5 { font-size: 2.0em; line-height: 1.5em;}
#content div.word-cloud span.size-6 { font-size: 2.2em; line-height: 1.5em;}
#content div.word-cloud span.size-7 { font-size: 2.4em; line-height: 1.5em;}
#content div.word-cloud span.size-8 { font-size: 2.6em; line-height: 1.5em;}
#content div.word-cloud span.size-9 { font-size: 2.8em; line-height: 1.5em;}

#content div.entry-content div.googlemap { height: 30em; }

#content div.order-options {
    clear: none;
    max-width: 30em;
    margin: 0px;
}

/* 9. CUSTOM LAYOUT & TYPOGRAPHY (Mummy bear)
----------------------------------------------------------------------------------------*/
@media screen and (min-width: 30em) and (max-width: 63.236em) {
    body { width: 100%; }
    #page-container { width: auto; max-width: 90%; }
    #sub-menu-container { text-align: left; }
    #content dl dd { margin-left: 3em; }
    #content span.exhibitors-category {
        display: inline-block;
        width: 49%;
    }
    #content span.cilist-subcategory,
    #content span.exhibitors-subcategory {
        display: inline-block;
        text-align: right;
        width: 50%;
    }
/*    #content span.image-categories-name { width: 190px; }
    #content div.image-categories-thumbnail img {
        width: 190px;
        height: 190px;
    } */

    #content div.gallery-image { width: 100%; }
    #content table.sponsors-list table.sponsors-category-list td.sponsors-image {
        padding-right: 0.1em;
        padding-left: 0;
    }

    #content table.cilist table.cilist-categories td.cilist-image,
    #content table.members-list table.members-category-list td.members-image,
    #content table.exhibitors-list table.exhibitors-category-list td.exhibitors-image {
        padding-right: 0.1em;
        padding-left: 0;
        min-width: 9.0em;
    }
    #content table.exhibitors-list > tbody > tr > th,
    #content table.blist > tbody > tr > th,
    #content table.clist > tbody > tr > th,
    #content table.cilist > tbody > tr > th,
    #content table.members-list > tbody > tr > th,
    #content table.downloads-list th,
    #content table.event-list th {
        display: block;
        padding-bottom: 0em;
        border-top-width: 0px;
    }

    #content table.blist > tbody > tr > td,
    #content table.clist > tbody > tr > td,
    #content table.cilist > tbody > tr > td,
    #content table.members-list > tbody > tr > td,
    #content table.sponsors-list > tbody > tr > td,
    #content table.exhibitors-list > tbody > tr > td,
    #content table.downloads-list td,
    #content table.event-list td {
        display: block;
    }
    #content table.cilist > tbody > tr > td,
    #content table.members-list > tbody > tr > td,
    #content table.sponsors-list > tbody > tr > td,
    #content table.exhibitors-list > tbody > tr > td {
        padding-left: 0em;
        margin-left: 0px;
    }
    #content table.blist td,
    #content table.clist td,
    #content table.downloads-list td,
    #content table.event-list td {
        padding-left: 5em;
        margin-left: 0px;
    }
    #content div.largebutton-list div.button-list-wrap, 
    #content div.button-list div.button-list-wrap {
        width: 100%;
    }
    #content form div.input { width: 100%; }
    #content form input.text,
    #content form,
    #content dl,
    #content h2,
    #content h3,
    #content h4 {
        width: 100%;
        max-width: 100%;
    }
    #content.evensplit form input.text { max-width: 96%; }
    #content form div.submit { width: 100%; }
    #content.evensplit form div.submit { max-width: 100%; }
    #content ul { max-width: 45em; }
    #content p,
    #content div.embed-video,
    #content dl.wide,
    #content ol.wide,
    #content ul.wide {
        max-width: 45em;
        margin: 0 auto 1.618em;
    }
    #content div.embed-video {
        margin: 0 auto 1.618em;
    }
    div.block-primary-image,
    aside {
        float: none;
        width: auto; 
        max-width: 30em;
        height: auto;
        margin: 0 auto 2.2em;
    }
    div.block-primary-image div.image-wrap { max-width: 30em; margin: 0 auto; }
    aside div.image-wrap { max-width: 30em; margin: 0 auto; }
    #content article.page {
        width: 100%; 
        margin: 0 auto;
    }
    #content.evensplit aside { width: 30em; }
    #content.evensplit form div.bigsubmit,
    #content.evensplit form div.bigsubmit2 {
        width: 100%;
        max-width: 100%;
    }
    div.hide-babybear { display: block; }
    span.exhibitors-description { display: inline; }

    #content div.order-options {
        clear: both;
        max-width: 45em;
        margin: 0 auto;
    }
}

/* 10. CUSTOM LAYOUT & TYPOGRAPHY (Older Sister bear)
----------------------------------------------------------------------------------------*/
@media screen and (min-width: 40em) {
    div.popup-wrapper {
        top: 50%;
        margin: 0 auto;
        margin-top: -10em;
    }
    div.callback-button {
        position: fixed;
        bottom: 0;
        right: 0;
        width: 6em;
        margin-bottom: 1em;
        margin-right: 0.5em;
    }
    div.callback-button div.icon {
        font-size: 2.2em;
        line-height: 1.5em;
        width: 1.6em;
        height: 1.6em;
    }
    div.callback-button div.label {
        font-size: 1.2em;
        line-height: 1.2em;
        margin-bottom: 0.25em;
    }
}
@media screen and (min-width: 40em) and (max-width: 63.236em) {
    body { width: 100%; }
    #page-container.page-container-wide { width: auto; max-width: 100% }
    #content article.page { width: 36em; width: 100%; }
    #content.evensplit aside,
    div.block-primary-image { max-width: 100%; width: 36em; width: 100%; } 
    aside { max-width: 100%; width: 36em; width: 100%; } 
    #content div.largebutton-list { text-align: center; }
    #content div.button-list { text-align: center; }
    #content div.button-list div.button-list-wrap {
        display: inline-block;
        width: 48%;
    }
    #content.evensplit form div.bigsubmit2 { width: 100%; max-width: 100%;
    }
}
@media screen and (min-width: 35em) {
    div.product-card {
        display: flex;
        flex-flow: row nowrap;
        height: 100%;
    }
    div.product-card-thumbnail {
        width: 30%;
        height: 100%;
        margin-right: 1em;
        margin-bottom: 0em;
        box-sizing: border-box;
    }
    div.product-card-text {
        display: flex;
        flex-flow: column;
        flex-grow: 1;
    }
    div.product-card-options {
        margin-top: auto;
    }
}
@media screen and (min-width: 40em) {
    div.hide-babybear { display: block; }

    table.order-details thead tr,
    table.order-details tbody tr,
    table.order-details tfoot tr,
    table.order-season thead tr,
    table.order-season tbody tr,
    table.order-season tfoot tr {
        display: table-row;
    }
    table.order-details thead th,
    table.order-season thead th {
        display: table-cell;
        width: auto;
    }
    table.order-details tbody td:nth-child(1) { display: table-cell; width: auto; }
    table.order-details tbody td:nth-child(2) { display: table-cell; width: auto; padding: 0.5em 0em 0.5em 0.5em; }
    table.order-details tbody td:nth-child(3) { display: table-cell; width: auto; }
    table.order-details tbody td:nth-child(4) { display: table-cell; width: auto; }
    table.order-details tbody td:nth-child(5) { display: table-cell; width: auto; }
    #content table.order-details tfoot td:nth-child(1),
    #content table.order-details tfoot td:nth-child(2),
    #content table.order-details tfoot td:nth-child(3) {
        display: table-cell;
        width: auto;
    }
    table.order-season tbody td:nth-child(1) { display: table-cell; width: auto; }
    table.order-season tbody td:nth-child(2) { display: table-cell; width: auto; padding: 0.5em 0em 0.5em 0.5em; }
    table.order-season tbody td:nth-child(3) { display: table-cell; width: auto; }
    table.order-season tbody td:nth-child(4) { display: table-cell; width: auto; }
    #content table.order-repeats tbody td > div.repeat-option { 
        display: inline-block;
        width: 50%;
        margin-top: 0px;
    }
    #content div.sectioned-form div.sectioned-form-input input,
    #content div.sectioned-form div.sectioned-form-input textarea,
    #content div.sectioned-form div.sectioned-form-input p {
    }
    #content div.sectioned-form-content {
        padding-right: 1em;
    }
    #content div.sectioned-form-medium {
        display: inline-block;
        width: 50%;
        padding-right: 1em;
        box-sizing: border-box;
        vertical-align: top;
    }
    #content div.sectioned-form-small {
        display: inline-block;
        width: 33%;
        box-sizing: border-box;
        vertical-align: top;
    }
    #content div.sectioned-form-hidden {
        display: none;
    }
    div.price-card {
        display: flex;
/*         flex-flow: row nowrap; */
        height: 100%;
    }
    div.price-card-thumbnail {
        width: 30%;
        height: 100%;
        margin-right: 1em;
        margin-bottom: 0em;
        box-sizing: border-box;
    }
    div.price-card-text,
    div.price-card-form {
        display: flex;
        flex-flow: column;
    }
    #content article.page div.price-card-form form div.price-card-amount {
        display: inline-block;
        text-align: center;
        width: 40%;
        box-sizing: border-box;
        padding: 0.2em;
    }
    #content article.page div.price-card-form form div.price-card-submit {
        display: inline-block;
        text-align: center;
        width: 60%;
        box-sizing: border-box;
    }
}
@media screen and (min-width: 45em) {
    .product-card-a {
        width: 50%;
        display: flex;
        flex-flow: row;
        position: relative;
    }
    .product-card-a:nth-child(1n) {
        padding-left: 0em;
        padding-right: 0.5em;
    }
    .product-card-a:nth-child(2n) {
        padding-left: 0.5em;
        padding-right: 0em;
        box-sizing: border-box;
    }
    div.product-card-wrap {
        width: 100%;
    }
    div.price-card-wrap {
        width: 50%;
        display: flex;
        flex-flow: column;
        position: relative;
    }
    div.price-card-wrap:nth-child(1n) {
        padding-left: 0em;
        padding-right: 0.5em;
    }
    div.price-card-wrap:nth-child(2n) {
        padding-left: 0.5em;
        padding-right: 0em;
        box-sizing: border-box;
    }
    div.price-card {
        width: 100%;
        text-align: center;
    }
    #content article.page div.price-card-form form div.price-card-amount {
        width: 50%;
    }
    #content article.page div.price-card-form form div.price-card-submit {
        width: 50%;
    }
}

/* 11. Anything over 40 em
------------------------------------------------------------------------------*/
@media screen and (min-width: 40em) {
    header div.logo-title-address-nav-wrapper div.title-logo {
        width: 30%;
        box-sizing: border-box;
        display: inline-block;
    }
    header div.logo-title-address-nav-wrapper div.title-block {
        width: 40%;
        box-sizing: border-box;
        display: inline-block;
    }
    header div.logo-title-address-nav-wrapper div.title-address-single-line {
        display: none;
    }
    header div.logo-title-address-nav-wrapper div.title-address-multi-line {
        display: inline-block;
        width: 30%;
        text-align: right;
        box-sizing: border-box;
        display: inline-block;
    }
    #content div.image-list-image {
        width: 35%;
    }
    #content div.image-list-details {
        width: 65%;
    }
    #content table.sponsors-list table.sponsors-category-list td.sponsors-image {
        padding-left: 0.0em;
        padding-right: 0.5em;
    /*    min-width: 9.5em; */
        border: 0px;
        display: table-cell;
    }
    #content table.sponsors-list table.sponsors-category-list td.sponsors-image img {
        max-width: none;
    }
    #content table.sponsors-list table.sponsors-category-list td.sponsors-details {
        display: table-cell;
    }
    #content table.sponsors-list table.sponsors-category-list td.sponsors-description p {
        max-width: 100%;
        width: 100%;
    }
    #content div.quote {
        margin: 0em 2em 1.5em 2em;
        padding-bottom: 0.5em;
    }
    article.cart header h1.entry-title {
        display: inline-block;
        width: 50%;
        padding-left: 0px;
        padding-right: 0px;
    }
    article.cart header div.cart-search-input {
        display: inline-block;
        text-align: right;
        width: 50%;
        margin-top: 0em;
    }
    #content div.cart-search-input input {
        width: 90%;
    }
    div.popup-wrapper-large {
        margin: 30px auto;
        max-width: 95%;
    }
/*    #content div.thumbnail-list-item-wrap { width: 20%; } */
    #content div.table-slide-horizontal div.table-slide-rowlabels {
        width: 40%;
    }
    #content div.table-slide-horizontal div.table-slide-data {
        width: 60%;
    }
    #page-container.page-account-contact-details #content form {
        width: 100%;
        max-width: 100%;
    }
    #content div.contact-details-section div.input {
        display: inline-block;
        width: 50%;
        margin: 0px;
    }
    #content div.contact-details-section div.input:nth-child(even) {
        padding-left: 1em;
    }
    #content div.contact-details-section div.input:nth-child(odd) {
        padding-right: 1em;
    }
}

/* 11a. Anything over 45em 
------------------------------------------------------------------------------*/
@media screen and (min-width: 45em) {
    #content div.priced-items div.image-list-entry-wrap {
        width: 50%;
        display: inline-block;
        vertical-align: top;
    }
    #content div.priced-items div.image-list-entry-wrap:nth-child(even) {
        padding-left: 15px;
    }
    #content div.priced-items div.image-list-entry-wrap:nth-child(odd) {
        padding-right: 15px;
    }
}

/* 12. Anything over 50 em
------------------------------------------------------------------------------*/
@media screen and (min-width: 50em) {
/*    #content div.image-list-image {
        width: 40%;
    }
    #content div.image-list-wrap {
        max-width: 200px;
    } 
    #content div.image-list-details {
        width: 60%;
    } */
    #content div.image-list-wrap {
        max-width: 100%;
    }
    #content div.image-list-entry-wrap {
        width: 50%;
        display: inline-block;
        vertical-align: top;
    }
    #content div.image-list-entry {
        text-align: left;
    }
    #content div.image-list-entry-wrap:nth-child(even) div.image-list-entry {
        text-align: right;
    }
    #content div.image-list-image {
        width: 30%;
    }
    #content div.image-list-details {
        width: 65%;
    }
    #content div.quote {
        margin: 0em 5em 1.5em 5em;
        padding-bottom: 0.5em;
    }
    #content div.table-slide-horizontal div.table-slide-rowlabels {
        width: 35%;
    }
    #content div.table-slide-horizontal div.table-slide-data {
        width: 65%;
    }
    /* Calendar */
    #content table.calendar-grid {
        display: table;
    }
    #content table.calendar-grid span.calendar-day-weekday {
        display: none;
    }
    #content table.calendar-grid table.calendar thead {
        display: table-header-group;
        width: 100%;
    }
    #content table.calendar-grid tbody {
        display: table-row-group;
        width: 100%;
    }
    #content table.calendar-grid tr {
        display: table-row;
    }
    #content table.calendar-grid thead th {
        text-align: center;
    }
    #content table.calendar-grid th,
    #content table.calendar-grid td,
    #content table.calendar-grid td.calendar-day {
        display: table-cell;
        width: calc(100%/7);
    }
    #content table.calendar-grid div.calendar-date,
    #content table.calendar-grid div.calendar-day-items {
        display: block;
        min-height: 1em;
        width: 100%;
        min-width: 100%;
    }
    #content table.calendar.calendar-grid div.calendar-date {
        height: 1.5em;
        padding: 0.25em;
        width: 100%;
    }
    #content table.calendar-grid span.calendar-day-date {
        display: block;
        width: 100%;
    }
    #content table.calendar-grid td.calendar-day-blank {
        display: table-cell;
    }
    #content table.calendar-grid div.calendar-item-blank {
        min-height: 5em;
    }

/*    #content table.order-repeats tbody td {
        display: table-cell;
        width: 50%;
    }
    #content table.order-repeats tbody td > div.repeat-option {
        display: inline-block;
        width: 100%;
    }
    #content table.order-repeats tbody td > div.repeat-option:nth-child(2) {
        margin-top: 1em;
    }*/
}

@media screen and (min-width: 60em) {
    #content div.table-slide-horizontal div.table-slide-rowlabels {
        width: 25%;
    }
    #content div.table-slide-horizontal div.table-slide-data {
        width: 75%;
    }
    #content table.order-repeats tbody td > div.repeat-option:nth-child(2) { 
        width: 40%;
    }
    div.block-mappedtickets div.ticketmap {
        max-width: 60em;
    }
/*    #content table.order-repeats tbody td:nth-child(1) {
        width: 40%;
    }
    #content table.order-repeats tbody td:nth-child(2) {
        width: 60%;
    }
    #content table.order-repeats tbody td > div.repeat-option {
        display: inline-block;
        width: 50%;
    }
    #content table.order-repeats tbody td > div.repeat-option:nth-child(2) {
        margin-top: 0;
    } */
}

@media screen and (min-width: 62em) {
    #content div.priced-items div.image-list-entry-wrap {
        width: 33%;
        display: inline-block;
        vertical-align: top;
    }
    #content div.priced-items div.image-list-entry-wrap:nth-child(even) {
        padding-left: 15px;
        padding-right: 15px;
    }
    #content div.priced-items div.image-list-entry-wrap:nth-child(odd) {
        padding-left: 15px;
        padding-right: 15px;
    }
}

/* 13. Print 
------------------------------------------------------------------------------*/
@media print {
    header div.signin {display: none; }
    header nav { display: none; }
    .image-list-more { display: none; }
    .cilist-more { display: none; }
    #content h2,
    #content p {
        max-width: 100%; 
    }
    div.block-primary-image {width: 50%; }
    aside {width: 50%; }
    body { width: 100%; }
    #content .share-buttons-wrap { display: none; }
    div.primary-block-image div.image-wrap { padding-left: 0px; }
    aside div.image-wrap { padding-left: 0px; }
    #content div.slider { display: none; }
    #page-container { width: auto; max-width: 45em; }
    #sub-menu-container { text-align: left; }
    #content dl dd { margin-left: 3em; }
    #content span.exhibitors-category {
        display: inline-block;
        width: 49%;
    }
    #content span.cilist-subcategory,
    #content span.exhibitors-subcategory {
        display: inline-block;
        text-align: right;
        width: 50%;
    }
/*    #content span.image-categories-name { width: 190px; }
    #content div.image-categories-thumbnail img {
        width: 190px;
        height: 190px;
    } */

    #content div.gallery-image { width: 100%; }
    #content table.sponsors-list table.sponsors-category-list td.sponsors-image {
        padding-right: 0.1em;
        padding-left: 0;
    }

    #content table.cilist table.cilist-categories td.cilist-image,
    #content table.members-list table.members-category-list td.members-image,
    #content table.exhibitors-list table.exhibitors-category-list td.exhibitors-image {
        padding-right: 0.1em;
        padding-left: 0;
        min-width: 9.0em;
    }
    #content table.exhibitors-list > tbody > tr > th,
    #content table.blist > tbody > tr > th,
    #content table.clist > tbody > tr > th,
    #content table.cilist > tbody > tr > th,
    #content table.members-list > tbody > tr > th,
    #content table.downloads-list th,
    #content table.event-list th {
        display: block;
        padding-bottom: 0em;
        border-top-width: 0px;
    }

    #content table.blist > tbody > tr > td,
    #content table.clist > tbody > tr > td,
    #content table.cilist > tbody > tr > td,
    #content table.members-list > tbody > tr > td,
    #content table.sponsors-list > tbody > tr > td,
    #content table.exhibitors-list > tbody > tr > td,
    #content table.downloads-list td,
    #content table.event-list td {
        display: block;
    }
    #content table.cilist > tbody > tr > td,
    #content table.members-list > tbody > tr > td,
    #content table.sponsors-list > tbody > tr > td,
    #content table.exhibitors-list > tbody > tr > td {
        padding-left: 0em;
        margin-left: 0px;
    }
    #content table.blist td,
    #content table.clist td,
    #content table.downloads-list td,
    #content table.event-list td {
        padding-left: 5em;
        margin-left: 0px;
    }
    #content div.largebutton-list div.button-list-wrap, 
    #content div.button-list div.button-list-wrap {
        width: 100%;
    }
    #content form div.input { width: 100%; }
    #content form {
        width: 100%;
        max-width: 100%;
    }
    #content dl {
        width: 100%;
        max-width: 100%;
    }
    #content form input.text {
        width: 100%;
        max-width: 100%;
    }
    #content.evensplit form input.text { max-width: 96%; }
    #content form div.submit { width: 100%; }
    #content.evensplit form div.submit { max-width: 100%; }
    #content ul { max-width: 45em; }
    #content p,
    #content dl.wide,
    #content ul.wide {
        max-width: 45em;
    }
    div.block-primary-image,
    aside {
        float: none;
        width: auto; 
        max-width: 30em;
        height: auto;
        margin: 0 auto 2.2em;
    }
    aside div.image-wrap { max-width: 30em; margin: 0 auto; }
    #content article.page {
        width: 100%; 
        margin: 0 auto;
    }
    #content.evensplit aside { width: 30em; }
    #content.evensplit form div.bigsubmit,
    #content.evensplit form div.bigsubmit2 {
        width: 100%;
        max-width: 100%;
    }
    div.hide-babybear { display: block; }
    span.exhibitors-description { display: inline; }
}
