/* 8. CUSTOM LAYOUT & TYPOGRAPHY (Daddy bear)
----------------------------------------------------------------------------------------*/
#page-container {
	padding: 1.618em;
	margin: 0 auto;
	max-width: 60em;
}

#page-container.signin {
	padding-top: 0em;
}

header div.signin {
}

header span.title {
	display: inline;
}

#site-description {
	margin-top: 0.5em;
}

#main-menu-container ul.menu li.menu-item {
	display: inline-block;
	padding: 0.4em;
	margin: 0px;
	border: 0px;
}

#main-menu-container ul.menu li.compact-hidden {
	display: inline-block;
}

#content div.image-gallery {
	padding: 0px;
}

#content div.image-categories div.image-categories-thumbnail {
	width: 290px;
}

#content div.image-categories-thumbnail img {
	width: 290px;
	height: 290px;
}

#content div.image-gallery div.image-gallery-thumbnail {
	width: 130px;
	height: 130px;
	margin: 7px;
}

#content div.image-gallery-thumbnail img {
	width: 130px;
	height: 130px;
}


#content dl {
	width: 120em;
}

#content dl dt {
	display: block;
	vertical-align: top;
}

#content dl dd {
	display: inline-block;
	margin-left: 1.5em;
}

#content table.links-list,
#content table.event-list {
	border-collapse: collapse;
}

#content table.links-list th,
#content table.event-list th {
	display: table-cell;
	padding-bottom: 1em;
}

#content table.links-list td,
#content table.event-list td {
	display: table-cell;
	padding-left: 1.5em;
	padding-bottom: 1em;
}

#content table.links-list th,
#content table.links-list td,
#content table.event-list th,
#content table.event-list td {
	border-top: 1px solid;
}

#content span.links-category,
#content span.event-date {
	display: inline-block;
	white-space: pre;
	max-width: 100%;
}

#content div.gallery-image {
	max-width: 100%;
	width: auto;
}

#content div.gallery-image div.gallery-image-wrap {
	display: inline-block;
	width: auto;
}

#content div.button-list div.button-list-wrap {
	width: 32%;
}

#content form input.text {
	max-width: 30em;
}

#content form div.submit {
	max-width: 31.2em;
	padding-right: 0em;
}

#content form div.bigsubmit {
	max-width: 30em;
}


aside {
	float: right;
	clear: right;
	width: 25em;
	height: auto;
}

aside div.googlemap {
	height: 22em;
}

aside div.googlemap img {
	max-width: inherit;
}

/* 9. CUSTOM LAYOUT & TYPOGRAPHY (Mummy bear)
----------------------------------------------------------------------------------------*/
@media screen and (min-width: 30em) and (max-width: 63.236em) {

body { width: 100%; }

#page-container { width: 30em; }

#content dl dd {
	margin-left: 3em;
}

#content div.image-categories div.image-categories-thumbnail {
	width: 190px;
}

#content div.image-categories-thumbnail img {
	width: 190px;
	height: 190px;
}

#content div.gallery-image {
	width: 100%;
}

#content table.links-list th,
#content table.event-list th {
	display: block;
	padding-bottom: 0em;
	border-top-width: 0px;
}

#content table.links-list td,
#content table.event-list td {
	display: block;
}

#content table.links-list td,
#content table.event-list td {
	padding-left: 5em;
	margin-left: 0px;
}

#content div.button-list div.button-list-wrap {
	width: 100%;
}

#content form div.input {
	width: 100%;
}

#content form input.text {
	width: 95%;
}

#content form div.submit {
	width: 99%;
}

aside {
	float: none;
	width: auto;
	height: auto;
	margin: 0 0 2.2em;
}

}

/* 10. CUSTOM LAYOUT & TYPOGRAPHY (Older Sister bear)
----------------------------------------------------------------------------------------*/
@media screen and (min-width: 40em) and (max-width: 63.236em) {

body { width: 100%; }

#page-container.page-container-wide { width: 40em; }

aside { width: 30em; }

}

