html {
	background: #000;
}

body {
	color: #aaa;
	background: #000;
}

#site-title {
	color: #439BBD;
}
#site-title a,
#site-title a:visited,
#site-title a:hover,
#site-title a:active {
	text-decoration: none;
}

#site-description {
	font-style: italic;
}

header h1 {
	color: #439BBD;
}

#main-menu-container {
	background: #aaa;
}

#main-menu-container li a,
#main-menu-container li a:visited,
#main-menu-container li a:hover,
#main-menu-container li a:active {
	text-decoration: none;
	color: #333;
}

#main-menu-container li.menu-item {
	border-color: #fff;
}

div.image-gallery-thumbnail {
	border: 8px solid #ffffff;
	display: inline-block;
	margin: 5px;
	padding: 0px;
}

div.image-gallery-thumbnail img {
	padding: 0px;
	margin: 0px;
}

#content h1.entry-title {
	color: #439BBD;
}

#content h2 {
	color: #ccc;
}

#content a,
#content a:visited,
#content a:hover,
#content a:active {
	text-decoration: none;
	color: inherit;
}

#content span.links-title,
#content span.event-title {
	font-size: 1.15em;
	font-weight: normal;
	color: #ddd;
}

#content a.links-url,
#content a.event-url {
	font-size: 0.9em;
	color: #999;
}

#content table.links-list th,
#content table.links-list td,
#content table.event-list th,
#content table.event-list td {
	border-color: #999;
}

#content span.links-category {
	font-size: 1.15em;
}

hr.section-divider {
	border: 0px solid #555;
	border-top: 1px solid #555;
}

hr.header-section-divider {
	border: 1px solid #000;
	color: #000;
}

footer {
	color: #777;
}
