html {
	background: #fff;
}

body {
	color: #777;
	background: #fff;
}

#site-title {
	color: #439BBD;
}

#site-title a,
#site-title a:visited,
#site-title a:hover,
#site-title a:active {
	text-decoration: none;
}

#site-description {
	font-style: italic;
}

header h1,
header h1 a:visited,
header h1 a:hover,
header h1 a:active {
	color: #279;
}

#main-menu-container {
	background-color: transparent;
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#888888', endColorstr='#555555');
}

#main-menu-container li a,
#main-menu-container li a:visited,
#main-menu-container li a:hover,
#main-menu-container li a:active {
	text-decoration: none;
	color: #ddd;
}

#main-menu-container li.menu-item {
	border: 2px solid #222;
	margin-bottom: 5px;
	background-color: #555;
	border-radius: 10px;
	font-size: 1.1em;
	text-align: center;
	text-shadow: 0 1px 1px rgba(0,0,0,0.5);
	box-shadow: 0 1px 2px rgba(0,0,0,0.2);
	background: -webkit-gradient(linear, left top, left bottom, from(#888), to(#555));
	background: -moz-linear-gradient(top,  #888,  #555);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#888888', endColorstr='#555555');
}

#main-menu-container li.menu-item {
	border-color: #000;
}

div.image-categories-thumbnail {
	border: 5px solid #aaa;
	display: inline-block;
	margin: 8px;
	padding: 0px;
	line-height: 0.7em;
}

span.image-categories-name {
	display: block;
	background-color: #fff;
	color: #333;
	margin: 0px;
	font-size: 1.2em;
	padding-top: 1.1em;
	padding-bottom: 0.7em;
}

div.image-gallery-thumbnail {
	border: 1px solid #aaa;
	display: inline-block;
	margin: 4px;
	padding: 7px;
}

div.image-gallery-thumbnail img {
	padding: 0px;
	margin: 0px;
}

div.gallery-image {
	line-height: 0.7em;
}

div.gallery-image-wrap {
	border: 2px solid #aaa;
	display: inline-block;
	margin: 4px;
	padding: 9px;
}

div.gallery-image-details {
	line-height: 1.5em;
	margin-top: 1em;
	text-align: left;
	width: auto;
	display: inline-block;
}

div.gallery-image-details span.image-title {
	font-size: 1.2em;
	color: #333;
}

div.gallery-image-details span.image-details {
	font-size: 1.0em;
	display: block;
	padding-left: 1em;
}

div.gallery-image-details span.image-awards-title {
	font-size: 1.2em;
	display: block;
	color: #333;
	margin-top: 1em;
}

div.gallery-image-details span.image-awards {
	font-size: 1.0em;
	display: block;
	padding-left: 1em;
}

#content h2 {
	color: #333;
}

#content a,
#content a:visited,
#content a:hover,
#content a:active {
	text-decoration: none;
	color: inherit;
}

#content span.links-title,
#content span.event-title {
	font-size: 1.2em;
	font-weight: normal;
	color: #222;
}

#content a.links-url,
#content a.event-url {
	font-size: 0.9em;
	color: #777;
}

#content table.links-list th,
#content table.links-list td,
#content table.event-list th,
#content table.event-list td {
	border-color: #777;
}

#content span.links-category {
	font-size: 1.1em;
}

aside div.image {
	max-width: 100%;
	border: 8px solid #ccc;
	height: auto;
	padding: 5px;
	margin-bottom: 1em;
	line-height: 0em;
}

aside div.image img {
	line-height: 1px;
	width: 100%;
	padding: 0px;
	margin: 0px;
}

hr.section-divider {
	border: 0px solid #aaa;
	border-top: 1px solid #aaa;
}

hr.header-section-divider {
	border: 1px solid #fff;
	color: #fff;
}

footer {
	color: #888;
}

/* Styles for larger screens */
@media screen and (min-width: 33em) {

#main-menu-container {
	background-color: #444;
	border: 2px solid #222;
	border-radius: 10px;
	background: -webkit-gradient(linear, left top, left bottom, from(#888), to(#555));
	background: -moz-linear-gradient(top,  #888,  #555);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#888888', endColorstr='#555555');
}

#main-menu-container ul.menu li.menu-item {
	border: 0px solid #000;
	background-color: transparent;
	border-radius: 10px;
	font-size: 1.1em;
	text-align: center;
	text-shadow: 0 1px 1px rgba(0,0,0,0.5);
	box-shadow: none;
	background: transparent;
	filter: none;
	padding-left: 0.7em;
	padding-right: 0.7em;
}

}
